<section class="password-reset-container">
    <h2>Reset your password</h2>

    <div class="back-arrow-container" (click)="navigateBackToLogin()">
        <mat-icon id="arrow-back">arrow_back</mat-icon>
    </div>

    <div class="horizontal-line"></div>

    <form action="" (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
        <div class="password-reset">
            <label for="email-input">Enter your email:</label>
            <input type="email" id="email-input" name="email" autocomplete="off"  formControlName="email">
            <span class="error" *ngIf="displayError">
                {{ errorMessage }}
            </span>
        </div>

        <button disabled type="submit">Send</button>
    </form>

    <span>A new password will be sent to you</span>
</section>

